version: '3.8'

services:
  label-studio:
    image: heartexlabs/label-studio:latest
    container_name: label_studio_server
    restart: unless-stopped
    ports:
      - '8080:8080'
    environment:
      - LABEL_STUDIO_LOCAL_FILES_SERVING_ENABLED=true
      - LABEL_STUDIO_LOCAL_FILES_DOCUMENT_ROOT=/
      - LABEL_STUDIO_DISABLE_SIGNUP_WITHOUT_LINK=false
      - LABEL_STUDIO_USERNAME=admin@example.com
      - LABEL_STUDIO_PASSWORD=password123
      - DJANGO_DB=default
      - POSTGRE_NAME=postgres
      - POSTGRE_USER=postgres
      - POSTGRE_PASSWORD=password123
      - POSTGRE_PORT=5432
      - POSTGRE_HOST=db
    volumes:
      - ./project_data:/data
      - ./ls_data:/label-studio/data
    depends_on:
      - db

  db:
    image: postgres:14-alpine
    container_name: label_studio_db
    restart: unless-stopped
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password123
      - POSTGRES_DB=postgres
    volumes:
      - db_storage:/var/lib/postgresql/data
    ports:
      - '5432:5432'

  ai_toolbox:
    build: .
    container_name: ai_toolbox_worker
    restart: unless-stopped
    command: ['tail', '-f', '/dev/null']
    environment:
      - LS_URL=http://label-studio:8080
      - DATA_ROOT=/data
      - HF_ENDPOINT=https://hf-mirror.com
    env_file:
      - env
    volumes:
      - ./project_data:/data
      - ./scripts:/app/scripts
      - ./models:/app/models
    links:
      - label-studio

volumes:
  db_storage:
